@import "./variables.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
  font-weight: 500;
  color: var(--text);
}

body {
  background-color: var(--bg);
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.Vue-Toastification__toast--success {
  background-color: var(--gold) !important;
}

.Vue-Toastification__toast--error {
  background-color: var(--danger) !important;
}
